<%# provide(:title, 'Home') %>

<header>
  <div id="dark-layer">
  <section id="rw-wrapper">
  <!-- <h1>Hi.</h1> -->
    <h2>
      <span>Hi. I am</span>
      <div class="rw-words">
        <span>a full-stack developer</span>        
        <span>an adventurer</span>
        <span>a lover of tech</span>
        <span>curious</span>
        <span>Kyle Chadha.</span>
      </div>
    </h2>
  </section>
  </div>
</header>

<div class="columns large-12">
  Hi there, here's some test text
</div>