<%# provide(:title, 'Home') %>

<header>
  <div id="dark-layer">
  <section id="rw-wrapper">
  <!-- <h1>Hi.</h1> -->
    <h2>
      <span>Hi. I am</span>
      <div class="rw-words">
        <span>a full-stack developer</span>        
        <span>an adventurer</span>
        <span>a lover of tech</span>
        <span>curious</span>
        <span>Kyle Chadha.</span>
      </div>
    </h2>
  </section>
  </div>
</header>

<div class="portfolio kc-box">
  <div class="row text-center">
    <h1>Work</h1>
    <div class="columns large-2"></div>
    <div class="columns large-8 wrapper">
      <dl class="tabs vertical" data-tab>
        <dd class="active"><a href="#panel1a">Tab 1</a></dd>
        <dd><a href="#panel2a">Tab 2</a></dd>
        <dd><a href="#panel3a">Tab 3</a></dd>
        <dd><a href="#panel4a">Tab 4</a></dd>
      </dl>
      <div class="tabs-content vertical">
        <div class="content active" id="panel1a">
          <p>Panel 1 content goes here.</p>
        </div>
        <div class="content" id="panel2a">
          <p>Panel 2 content goes here.</p>
        </div>
        <div class="content" id="panel3a">
          <p>Panel 3 content goes here.</p>
        </div>
        <div class="content" id="panel4a">
          <p>Panel 4 content goes here.</p>
        </div>
      </div>
    </div>
    <div class="columns large-2"></div>
  </div>
</div>

<div class="about-me kc-box">
  <div class="row text-center">
    <h1>About</h1>
    <div class="columns large-4">
      <%= image_tag "kyle-chadha-1.jpg", size: '300' %>
    </div>
    <div class="columns large-2"></div>
  </div>
</div>

<div class="skills kc-box">
  <div class="row text-center">
    <h1>Skills</h1>
    <div class="columns large-2"></div>
    <div class="columns large-8"></div>
    <div class="columns large-2"></div>
  </div>
</div>

<div class="contact kc-box">
  <div class="row text-center">
    <h1>Contact</h1>
    <div class="columns large-2"></div>
    <div class="columns large-8"></div>
    <div class="columns large-2"></div>
  </div>
</div>
