<div class="fixed">
  <nav class="top-bar" data-topbar>
  
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "Kyle Chadha", root_path, id: "logo" %></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>
  
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="active"><a href="#">home</a></li>
        <li><a href="#">work</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">contact</a></li>
      </ul>
    </section>

  </nav>
</div>
